body{
	margin: 0;
	padding: 0;
	background:url(backpic.png); 
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.loginbox {
	width: 300px;
	height: 370px;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	border-radius: 20%;
	padding: 70px 30px;
	margin-top: 220px;
}

h1{
	margin:0;
	padding-top:0px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 22px;
}

.loginbox p{
	margin:0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width:100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"],input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size:16px;

}

.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a{
	text-decoration:none;
	font-size: 14px;
	line-height: 20px;
	color: white;
}

.loginbox a:hover
{
	color: #ffc107;
}

.navbar{
	padding:10px 10px 10px 10px;
	width: 100%;
	height: 40px;
	padding-left: 30px;
	padding-right: 30px;
}

.navbar button {
	width: 190px;
	height: 40px;
	background-color:white;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	border:2px solid #083b66;
}
.navbar a{
	text-decoration: none;
	color: #083b66;
	display:block;
}

.navbar button:hover{
	background-color:083b66;
}

.navbar a:hover{
	text-decoration: none;
	color: white;
	display:block;
}

header {
    background-color:083b66;
    width:100%;
    height:80px;
}

footer{
	background-color:083b66;
    width:100%;
    height:80px;
	margin-top: 450px;
}



